* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    scroll-behavior: smooth;
}


html,
body {

    overflow-x: hidden;
}

body {

    font-family: "Roboto", sans-serif;
    font-weight: 800;
}

.click-open-modal a {

    text-decoration: none;
    color: black;
    font-size: 17px;
    font-weight: 600;
}

.header-flex {

    display: flex;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
}

/* ---------------------------Navbar- styling--------------------- */
.navbar-nav li {

    padding: 10px;
}

.navbar-nav li a {

    font-size: 14px;
    font-weight: 600;

}

.navbar li::after {

    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 0;
    background-color: #1f3c88;
    ;
}

.navbar li:hover::after {

    width: 80%;
    transition: all ease-out 1s;
}



/* ---------------------------Buttons-styling--------------------- */

.header-flex button.btn-1 {

    background-color: #00a2d9;
    color: white;
    margin-left: 20px;
    margin-right: 20px;
    padding: 7px 10px;
    border: none;
    border-radius: 5px;
    font-style: 19px;
    text-transform: capitalize;
    font-weight: 500;

}

.btn-2 {

    background-color: #00a2d9;
    color: white;
    margin-left: 20px;
    margin-right: 20px;
    padding: 8px 25px;
    border: none;


}

.btn-3 {

    margin-right: 20px;
    padding: 8px 25px;
    border: none;
    color: #314a84;
    transition: 0.3s ease-in-out;
}

.all-in-one-btn:hover {
    transform: translatey(-3px);
    transition-duration: 0.5S;
    background-color: #00a2d9;
    color: white;
    box-shadow: 2px 2px 2px gray;
}

/* ---------------------------Main-Section--------------------- */
.bg-dark-blue {

    background-color: #314a84;
}

.main-box-width {

    max-width: 500px;

}

.main-box-width h1 {

    color: white;
    font-size: 50px;
    font-weight: 600;
}


.main-box-width p {

    font-size: 17px;
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 2;
    font-weight: 400;
}

.main-image-cover {

    width: 100%;
}

.main-image-cover img {

    object-fit: cover;
    width: 100%;
}

/* ---------------------------Logo-Bar-Section--------------------- */
.scroll-container {
    width: 100%;
    overflow: hidden;
    padding: 40px 0px;

}

.scroll-content {
    display: flex;
    gap: 30px;
    /* space between images */
    animation: scrollImages 15s linear infinite;
}

.scroll-content img {
    width: 140px;
    /* set size as you want */
    object-fit: cover;

}

.scroll-container:hover .scroll-content {
    animation-play-state: paused;
}

.scroll-content img:hover {
    opacity: 1;
    filter: brightness(50%);
}

/* ---------------------------Our-Industry-Section--------------------- */

.our-industry-section {
    width: 100%;
    height: 100vh;
    /* Full screen so animation is visible */
    background-image: url("images/background.webp");
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 30px;
    margin-bottom: 50px;
    padding-top: 50px;


}

.cstm-text-industry-section h1 {

    font-size: 45px;
    text-transform: capitalize;
    font-weight: 700;
}

.cstm-text-industry-section p {

    font-size: 16px;
    font-weight: 400;

}

#under-line {

    position: relative;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 20%;
    background-color: #1f3c88;
    font-weight: 900;
}

.cstm-card-industry-section h5 {

    font-weight: 700;
}

.cstm-card-industry-section p {

    font-size: 15px;
    font-weight: 400;
    margin-top: 20px;
}

.c-card {

    width: 24rem;
    border: none;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 25px 25px;
    background-color: white;
    transition: all 0.5s ease-in-out;
}

.c-card:hover {

    background-color: #1f3c88;
    color: white;
}

.c-card-bg {

    width: 24rem;
    border: none;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 25px 25px;
    background-color: #1f3c88;
    color: white;
}

.c-card-bg i {

    color: white;
}



.icon i {

    font-size: 40px;
    color: #00a2d9;
}

/* ---------------------------Our-Technology-Section--------------------- */

.main-background-section-technology {
    background-color: #070d59;
    height: 140vh;
    background-image: url(images/curlee.webp);
    background-position: right bottom;
    background-repeat: no-repeat;
    /* stop repeating */
    background-size: 400px 450px;
    position: relative;
    left: 40px;


}

.cstm-text-technology-section {

    color: white;
}

.cstm-text-technology-section h2 {

    font-size: 47px;
    font-weight: 600;
}

.cstm-text-technology-section p {

    font-size: 22px;
    font-weight: 300;
    margin-top: 12px;
}

.cstm-card-technology-section h5 {

    font-size: 21px;
    font-weight: 700;
}

.cstm-card-technology-section p {

    font-size: 15px;
    font-weight: 400;

}

.c-card-technology {

    width: 17rem;
    height: 17rem;
    border: none;
    border-radius: 10px;
    padding: 25px 25px;
    background-color: #00a2d9;
    color: white;
    transition: all 0.5s ease-in-out;
}

.c-card-technology:hover {

    background-color: white;
    color: black;
}

#under-line-technology {

    position: relative;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 10%;
    background-color: white;
    font-weight: 900;
}

/* ---------------------------Business-Intelligence-Section--------------------- */

.business-intelligence-section {

    background-color: #1f3c88;
    color: white;
    height: 100vh;
    margin-top: 20px;
    position: relative;
    right: 40px;


}

.business-text-section-image img {
    width: 500px;

}

.business-section-top-padding {

    padding-top: 210px;
    padding-left: 60px;
}

.business-text-section h1 {

    font-size: 55px;
    font-weight: 600;
}

.business-text-section p {

    font-size: 17px;
    font-weight: 400;
    margin-top: 20px;
    line-height: 2;
}


/* ---------------------------Product-Section--------------------- */
.product-section {

    background-image: url(images/big-building.webp);
    height: 100vh;
    background-size: cover;
    margin-top: 40px;
    margin-bottom: 60px;
}

.product-section-top-padding {

    padding-top: 100px;
    padding-left: 10px;
}

.product-text-section h1 {

    font-size: 45px;
    font-weight: 700;
    text-align: left;
}


.product-text-section p {

    font-size: 19px;
    font-weight: 500;
    margin-top: 20px;
    line-height: 2;
    color: rgb(122, 122, 122);

}


#under-line-product {

    position: relative;
    left: 0;
    bottom: 0;
    height: 4px;
    width: 6%;
    background-color: #070d59;
    font-weight: 900;
}

.product-section-image img {

    width: 60px;
}

.card-product-section-bg {

    background-color: #1f3c88;
    color: white;
    padding: 30px 20px;
    margin-top: 30px;
}

.card-product-section-text h4 {

    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 20px;
}

.card-product-section-text p {

    color: rgb(235, 231, 231);
    font-size: 16px;
    padding-bottom: 10px;
    margin-top: 10px;
}

.card-product-section-text a {

    text-decoration: none;
    color: rgb(235, 231, 231);
    font-size: 18px;
}

/* ---------------------------Shedule-A-Section--------------------- */
.schedule-a-call-section {

    background-image: url(images/blue-background-image.webp);
    background-size: cover;
    margin-top: 40px;
    height: 70vh;
    padding: 50px;

}

.main-text-few-question {

    text-align: center;
}

.main-text-few-question h2 {

    font-size: 45px;
    font-weight: 500;
}

.main-text-few-question h1 {

    font-size: 47px;
    font-weight: 700;
}

.main-text-few-question {

    color: white;
    padding: 30px;

}

.schedule-a-call-section-flex-last-items {

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding-bottom: 30px;
    padding-top: 20px;
}

.schedule-mini-text-1 h5 {

    color: white;
    font-size: 30px;
}

/* ---------------------------Testimonial-Section--------------------- */


.what-our-client-says-text-section {

    text-align: center;
    margin-bottom: 90px;
}

.what-our-client-says-text-section h2 {

    font-size: 45px;
    font-weight: 700;

}

.what-our-client-says-text-section p {

    font-size: 22px;
    font-weight: 400;
    margin-top: 10px;

}

.testimonial-section {
    padding: 60px 0;
    overflow: hidden;
    position: relative;
    margin-top: 60px;
    margin-bottom: 30px;
}

.testimonial-slider {
    overflow: hidden;
    width: 100%;
}

.testimonial-track {
    display: flex;
    gap: 2rem;
    width: max-content;
    animation: scroll 30s linear infinite;
}

.testimonial-card {
    flex: 0 0 auto;
    width: 400px;
    height: 500px;
    background: #f9f5ea;
    color: black;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, opacity 0.3s ease;
    transition: 0.5s ease-in-out;
}



.testimonial-card:hover {
    transform: scale(1.03);
    opacity: 1;
    background-color: #111f6a;
    color: white;
}

#under-line-clients {

    position: relative;
    left: 0;
    bottom: 0;
    height: 4px;
    width: 26%;
    background-color: black;
    font-weight: 900;
}

/* Infinite horizontal scroll */
@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

/* Pause on hover */
.testimonial-slider:hover .testimonial-track {
    animation-play-state: paused;
}

/* ---------------------------Reputable-Clients-Section--------------------- */
.reputable-clients-text {

    text-align: center;
}

.reputable-clients-text h1 {

    font-size: 45px;
    font-weight: 700;
}

.reputable-clients-text p {

    font-size: 20px;
    font-weight: normal;
}

.bank-images img {

    width: 200px;
}

.brown-btn {

    background-color: #fbbc05;
    border: none;
    color: black;
    font-size: 18px;
    font-weight: 400;
    padding: 12px 20px;
    border-radius: 5px;
}

.website-2nd-last-section {

    background-image: url(images/blue-background-image.webp);
    margin-bottom: 30px;
    padding: 20px;
    margin-top: 40px;
}

.start-a-project-left-side {

    background-color: #007bff;
    color: white;
    padding: 20px;
}

.get-in-touch-section-right-side {

    background-color: #3461d4;
    color: white;
    padding: 40px;
}


.first-custom-footer-section {

    background-color: #070d59;
    padding-top: 60px;
    margin-top: -1px;
    padding-bottom: 50px;
}

.first-custom-footer-section h5 {

    color: white;
    margin-bottom: 20px;
    font-weight: 500;
    padding-left: 30px;
}

.first-custom-footer-section p {

    color: #a6a6a6;
    font-size: 19px;
}

.main-list-cst-items ul li a {

    font-size: 15px;
    color: #a6a6a6;
    line-height: 28px;
    padding-left: 0;
    text-decoration: none;
    text-transform: capitalize;

}

.main-list-cst-items ul li a:hover {

    color: white;

}

.main-list-cst-items ul li {

    list-style: none;
}

.last-custom-footer-section {

    background-color: #111f6a;
    color: #fff;
    padding-top: 23px;
    padding-bottom: 15px;

}

.mini-icons-aisde {

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-right: 150px;
}

.mini-icons-aisde a i {

    color: #a6a6a6;
    font-size: 20px;
}


.image-aside-top-section {

    display: flex;
    margin-top: 10px;
}

/* ---------------------------Footer-Section--------------------- */
.footer-small-images img {

    width: 120px;
}

.footer-last-iamge-alone img {

    width: 120px;
}


@keyframes scrollImages {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}


.main-about-banner-section {


    background-image:
        linear-gradient(to left, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 1) 100%),
        url("images/about-banner.webp");
    background-position: left;
    width: 100%;
    height: 90vh;
    background-size: cover;
    opacity: 0.6;
}

.about-main-text-section {

    display: flex;
    flex-direction: column;
    max-width: 600px;
    padding-left: 50px;


}

.link-items-whole-about a {

    text-decoration: none;
    font-size: 25px;
    font-weight: 500;
    color: rgb(105, 103, 103);

}

.link-items-whole-about {

    margin-top: 90px;
}

.about-text-heading {

    font-size: 30px;
    color: white;
    font-weight: 700;
    margin-top: 30px;
}

.about-text-paragraph p {

    font-size: 19px;
    color: white;
    font-weight: 400;
    margin-top: 20px;
}


.elegance-about-section {

    background-color: #314a84;
    color: white;
    padding: 140px 30px;
}

#under-line-elegance {

    position: relative;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 12%;
    background-color: white;
    font-weight: 900;
    text-align: center;
}

.elegance-text-section-about h1 {

    font-size: 40px;
    font-weight: 700;
}

.elegance-text-section-about p {

    font-size: 21px;
    font-weight: 300;
}

.about-what-we-do-section {
    background-color: #191938;
    height: 100%;
    width: 100%;
    background-image: url(images/about-left-side-banner.jpg);
    background-position: right bottom;
    background-repeat: no-repeat;
    /* stop repeating */
    background-size: 400px 450px;
    position: relative;
    right: 40px;
    color: white;
    padding-bottom: 30px;
    padding: 50px;


}


#under-line-what-we-do {

    position: relative;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 12%;
    background-color: white;
    font-weight: 900;
    text-align: center;
}


.what-we-text-sectio-about h1 {

    font-size: 40px;
    font-weight: 800;
    margin-top: 30px;
}

.what-we-text-sectio-about p {

    font-size: 20px;
    font-weight: 300;
    margin-top: 20px;
}

.card-body-what-we-do-text h5 {

    font-size: 22px;
    font-weight: 600;
    color: #1f3c88;
}

.card-body-what-we-do-text p {

    font-size: 17px;

}



.trusted-main-about-section {

    margin-top: 100px;
}

#under-line-trusted {

    position: relative;
    left: 0;
    bottom: 0;
    height: 6px;
    width: 10%;
    background-color: #070d59;
    font-weight: 900;
    text-align: center;
}

.Trusted-about-text-section h1 {

    font-size: 40px;
    font-weight: 600;
    color: #191938;
    margin-bottom: 20px;

}


.Trusted-about-text-section p {

    font-size: 19px;
    font-weight: 400;
    line-height: 1.5;


}


.about-main-logo-bar-section {

    margin-top: 100px;
    margin-bottom: 100px;
}

.aside-about-logo-bar-section {

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.aside-about-logo-bar-section img {

    width: 160px;
}




.Philosophy-main-about-section {


    background-color: #314a84;
    color: white;
    padding: 100px 50px;
}


.Philosophy-text-section {

    text-align: center;

}


.Philosophy-text-section h1 {

    font-size: 43px;
    font-weight: 700;
}

.Philosophy-text-section p {

    font-size: 20px;
    font-weight: 300;
    padding: 20px 160px;
}


.cstm-card-philosophy {

    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 1) 100%), url(images/about-banner.webp);
    background-size: cover;
    width: 24rem;
    height: 24rem;
    border: none;
    padding: 25px 25px;
    transition: all 0.5s ease-in-out;
}


.cstm-card-philosophy-text {


    margin-top: 180px;
}

.cstm-card-philosophy-text h1 {

    font-size: 22px;
    font-weight: 800;

}

.cstm-card-philosophy-text p {

    font-size: 18px;
    font-weight: 300;

}





.main-our-tech-section-about {

    background-color: #eef6f8;
    padding: 20px;
    padding-top: 50px;

}

.our-tech-text-section-about h1 {

    font-size: 45px;
    font-weight: 700;
    margin-top: 20px;
    ;

}

.our-tech-text-section-about p {

    font-size: 20px;
    font-weight: 300;
    margin-top: 20px;

}


#under-line-tech {

    position: relative;
    left: 0;
    bottom: 0;
    height: 6px;
    width: 14%;
    background-color: #070d59;
    font-weight: 900;
}



.main-contact-banner-section {


    background: url(images/contactus-bg.webp);
    width: 100%;
    background-size: cover;
    height: 100%;
    background-repeat: no-repeat;

}

.contact-main-text-section {

    display: flex;
    flex-direction: column;
    max-width: 750px;
    padding-left: 10px;


}

.link-items-whole-contact a {

    text-decoration: none;
    font-size: 25px;
    font-weight: 500;
    color: rgb(105, 103, 103);

}

.link-items-whole-contact {

    margin-top: 190px;
}

.contact-text-heading {

    font-size: 35px;
    color: white;
    font-weight: 600;
    margin-top: 30px;
    line-height: 2;
}

.contact-text-paragraph p {

    font-size: 21px;
    color: white;
    font-weight: 300;
    margin-top: 30px;
    line-height: 2;
}




.main-contact-us-section {

    padding: 50px 50px;
    margin-top: 70px;


}

.connect-with-us-text-contact h1 {

    font-size: 40px;
    font-weight: 700;
    color: #191938;

}

.get-in-touch-contact-section-text h1 {

    font-size: 40px;
    font-weight: 600;
    color: #191938;
}

.get-in-touch-contact-section-text p {

    font-size: 20px;
    font-weight: 400;
}

.karachi-contact-text-section h1 {

    font-size: 30px;
    font-weight: 700;
    color: #191938;
}


.karachi-contact-text-section p {

    font-size: 20px;
    font-weight: 400;

}

.contact-btn {

    background-color: #1f3c88;
    color: white;
    padding: 8px 20px;
    border-radius: 5px;
    border: none;
    font-size: 17px;
    font-weight: 500;
    transition: all 0.5s ease-in;
    margin-top: 60px;

}

.contact-btn:hover {

    background-color: white;
    color: #1f3c88;
    border: 2px solid #1f3c88;
}


#under-line-contact-us {

    position: relative;
    left: 0;
    bottom: 0;
    height: 4px;
    width: 10%;
    background-color: #1f3c88;
    font-weight: 900;
}




.global-main-Section-Contact-Us {

    background-color: #eef1f3;
    margin-top: 150px;
    padding: 50px;
}

.global-section-text-contact {

    text-align: center;

}

.global-section-text-contact h1 {

    font-size: 40px;
    font-weight: 700;
    margin-bottom: 20px;
}

.global-section-text-contact p {

    font-size: 20px;
    font-weight: 400;
}


.contact-us-map-sectiom-image img {

    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}


.aside-want-to-be-a-part-section {

    display: flex;
    align-items: center;
    gap: 25px;
}

.want-to-be-a-part-contact-section-text {

    text-align: left;

}


.want-to-be-a-part-contact-section-text h1 {

    font-size: 45px;
    font-weight: 700;
}

.want-to-be-a-part-contact-section-text span {

    color: #111f6a;
}